<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head') %>

    <style>
        .formRequest {
            -webkit-box-shadow: 0 0 10px gray;
            box-shadow: 0 0 10px gray;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .formRequest2 {
            -webkit-box-shadow: 0 0 10px gray;
            box-shadow: 0 0 10px gray;
            margin-top: 40px;
            margin-bottom: 40px;
            border: 4px solid #282828;
        }
    </style>
    <body>
        
        <!-- Start: Header Section -->
        <%- include('../partials/navbar') %>
        <!-- End: Header Section -->
        
        <!-- Start: Page Banner -->
        <section class="page-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>Add Book</h2>
                    <span class="underline center"></span>
                    <p style="padding: 20px;" class="lead"></p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/user/addmedia-menu">Media Menu</a></li>
                        <li>Add Book</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->

        <!-- Start: Products Section -->
        <div class="container formRequest" style="padding: 20px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-form bg-light margin-right">
                            <h2 style="color: black;">Add Book</h2>
                            <span class="underline left"></span>
                            <div class="contact-fields">
                            <form action="/user/add-book" style="padding: 20px;" id="contact" name="contact" method="post" enctype="multipart/form-data" >
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="ISBN" name="isbn" id="isbn" size="30" value="" aria-required="true"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="Judul Buku" name="judul" id="judul" size="30" value="" aria-required="true"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="Pengarang" name="pengarang" id="pengarang" size="30" value="" aria-required="true"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="Penerbit" name="penerbit" id="penerbit" size="30" value="" aria-required="true"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="Bahasa" name="bahasa" id="bahasa" size="30" value="" aria-required="true"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="Tahun Buku" name="tahun" id="tahun" size="30" value="" aria-required="true"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="Lokasi Buku" name="lokasi" id="lokasi" size="30" value="" aria-required="true"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                    <label for="gambar">Pilih Gambar <span style="font-weight: normal;">(not required)</span></label>
                                        <div class="form-group">
                                            <input class="form-control" type="file" placeholder="Gambar" name="gambar" id="gambar" size="30" value=""/>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <textarea class="form-control" placeholder="Deskripsi Buku" id="deskripsi" name="deskripsi" rows="15" aria-required="true"></textarea>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group form-submit">
                                            <input style="background-color: black;" class="btn btn-default" id="submit-book-form" type="submit" name="submit" value="Tambah Buku"  />
                                        </div>
                                    </div>

                                </div>
                            </form> 
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <!-- End: Products Section -->
       
        
        <!-- Start: Footer -->
        <%- include('../partials/footer') %>

        <!-- End: Footer -->
        
        <%- include('../partials/footscript') %>

        
        <%if (errorBookAdded.length > 0) { %>
            <script>
                swal({
                    title : "<%= errorBookAdded %>",
                    icon: "error",
                    text : "Failed",
                    button: "Okay",
                });
            </script>
        <% } %>

        
    </body>


</html>
