<!DOCTYPE html>
<html lang="zxx">

    <%- include('../partials/head') %>

    <body>

        <!-- Start: Header Section -->
        <%- include('../partials/navbar') %>
        <!-- End: Header Section -->

        <!-- Start: Page Banner -->
        <section class="page-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>Article</h2>
                    <span class="underline center"></span>
                    <p class="lead">Artikel yang dapat kamu baca</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Article</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->
        
        <!-- Start: Blog Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="blog-main-list">
                        <div class="container">
                            <div class="row">
                                <div class="blog-page grid">
                                    <% data.forEach((d) => {%>
                                        <article>
                                            <div class="grid-item blog-item">
                                                <div class="post-thumbnail">
                                                    <div class="post-date-box">
                                                        <div class="post-date">
                                                            <a class="date" href="#."><%= d.tanggal[0] %></a>
                                                        </div>
                                                        <div class="post-date-month">
                                                            <a class="month" href="#."><%= d.tanggal[1] %></a>
                                                        </div>
                                                    </div>
                                                    <a href="/article-detail/<%= d._id %>">
                                                        <% if(d.gambar === undefined ) {%>
                                                            <img src="/images/placeholder/article.png" alt="Book">
                                                        <% } else {%>
                                                            <img alt="article" src="/getarticle-image/<%= d._id %>" />
                                                        <% } %>
                                                    </a>
                                                    <div class="post-share">
                                                        <a href="#."><i class="fa fa-comment"></i> 37</a>
                                                        <a href="#."><i class="fa fa-thumbs-o-up"></i> 110</a>
                                                        <a href="#."><i class="fa fa-eye"></i> 180</a>
                                                        <a href="#."><i class="fa fa-share-alt"></i> Share</a>
                                                    </div>
                                                </div>
                                                <div class="post-detail">
                                                    <header class="entry-header">
                                                        <div class="blog_meta_category">
                                                            <span class="arrow-right"></span>
                                                            <a href="#." rel="category tag"><%= d.category %></a> 
                                                        </div>
                                                        <h3 class="entry-title"><a href="/article-detail/<%= d._id %>"><%= d.judul %></a></h3>
                                                        <div class="entry-meta">
                                                            <span style="display: block;"><i class="fa fa-user"></i> <a href="#"><%= d.author %></a></span>
                                                            <div style="text-transform: capitalize; font-weight: bold;">Update Terakhir</div>
                                                            <span><i class="fa fa-refresh"></i> <a href="#"><%= d.tanggalUpdate %></a></span>
                                                        </div>
                                                    </header>
                                                    <div class="entry-content">
                                                        <p class="text"><%= d.text %></p>
                                                    </div>
                                                    <footer class="entry-footer">
                                                        <a class="btn btn-default" href="/article-detail/<%= d._id %>">Read More</a>
                                                    </footer>
                                                </div>
                                            </div>
                                        </article>
                                    <%})%>
                                    
                                </div>
                                <a href="#" id="loadmore">Load More Posts</a>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- End: Blog Section -->

        

        <!-- Start: Footer -->
        <%- include('../partials/footer') %>
        <!-- End: Footer -->

        <%- include('../partials/footscript') %>

        <script>
            function truncateText(selector, maxLength) {
                var element = document.querySelectorAll(selector);
                let truncated = [];
                for(i=0;i<element.length;i++) {
                    truncated[i] = element[i].innerText;
                    if(truncated[i].length > maxLength) {
                        truncated[i] = truncated[i].substr(0, maxLength) + '...';
                    }
                }
                return truncated;
            }
            const mantapall = document.querySelectorAll('.text');
            mantapall.forEach((m, i) => {
                m.innerText = truncateText('.text', 180)[i];
            });
        </script>
        <% if (articleDetailError.length !== 0) { %>
            <script>
              swal({
                title : "<%= articleDetailError %>",
                icon: "error",
                text : "Failed",
                button: "Okay",
              });
            </script>
        <%}%>

    </body>


</html>