<!DOCTYPE html>
<html lang="zxx">
    

    <%- include('../partials/head') %>

    <body>

        <!-- Start: Header Section -->
        <%- include('../partials/navbar') %>
        <!-- End: Header Section -->

        <!-- Start: Page Banner -->
        <section class="page-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>Book Detail</h2>
                    <span class="underline center"></span>
                    <p class="lead"><%= data.judul %> book detail. </p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/book-list">Books List</a></li>
                        <li>Books Detail</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->

        <!-- Start: Products Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="booksmedia-detail-main">
                        <div class="container">
                            <div class="row">
                                <!-- Start: Search Section -->
                                <section class="search-filters">
                                    <div class="container">
                                        
                                    </div>
                                </section>
                                <!-- End: Search Section -->
                            </div>
                            <div class="booksmedia-detail-box">
                                <div class="detailed-box">
                                    <div class="col-xs-12 col-sm-5 col-md-3">
                                        <div class="post-thumbnail">
                                            <% if(data.gambar === undefined ) {%>
                                                <img src="/images/placeholder/book.png" alt="Book">
                                            <% } else {%>
                                                <img src="/getbook-image/<%= data._id %>" alt="Book">
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-6">
                                        <div class="post-center-content">
                                            <h2><%= data.judul %></h2>
                                            <p><strong>Pengarang:</strong> <%= data.pengarang%></p>
                                            <p><strong>ISBN:</strong> <%= data.isbn %></p>
                                            <p><strong>Penerbit:</strong> <%= data.penerbit %></p>
                                            <p><strong>Bahasa:</strong> <%= data.bahasa %></p>
                                            <p><strong>Tahun Buku:</strong> <%= data.tahun %></p>
                                            <div class="actions">
                                                <ul>
                                                    <li>
                                                        <!-- <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="" data-original-title="Add To Cart">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a> -->
                                                    </li>
                                                    <li>
                                                        <!-- <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="" data-original-title="Like">
                                                            <i class="fa fa-heart"></i>
                                                        </a> -->
                                                    </li>
                                                    <li>
                                                        <!-- <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="" data-original-title="Mail">
                                                            <i class="fa fa-envelope"></i>
                                                        </a> -->
                                                    </li>
                                                    <li>
                                                        <!-- <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="" data-original-title="Search">
                                                            <i class="fa fa-search"></i>
                                                        </a> -->
                                                    </li>
                                                    <li>
                                                        <!-- <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="" data-original-title="Print">
                                                            <i class="fa fa-print"></i>
                                                        </a> -->
                                                    </li>
                                                    <li>
                                                        <!-- <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="" data-original-title="Print">
                                                            <i class="fa fa-share-alt"></i>
                                                        </a> -->
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 ">
                                        <div class="post-right-content">
                                            <h4>Available now</h4>
                                            <p><strong>Lokasi:</strong> <%= data.lokasi %></p>
                                            <form action="/user/pinjambuku" method="POST">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <input class="form-control" type="text" placeholder="idBuku" name="idBuku" id="idBuku" size="30" value="<%=data._id%>" aria-required="true"/>
                                                        </div>
                                                    </div>
                                                    <% if(user !== undefined) {%>
                                                        <div class="col-md-6 col-sm-6">
                                                            <div class="form-group">
                                                                <input class="form-control" type="text" placeholder="namaPeminjam" name="namaPeminjam" id="namaPeminjam" size="30" value="<%=user.fullname%>" aria-required="true"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-6">
                                                            <div class="form-group">
                                                                <input class="form-control" type="text" placeholder="nomorIndukPeminjam" name="nomorIndukPeminjam" id="nomorIndukPeminjam" size="30" value="<%=user.nomorinduk%>" aria-required="true"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-6">
                                                            <div class="form-group">
                                                                <input class="form-control" type="text" placeholder="emailPeminjam" name="emailPeminjam" id="emailPeminjam" size="30" value="<%=user.email%>" aria-required="true"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-6">
                                                            <div class="form-group">
                                                                <input class="form-control" type="text" placeholder="rolePeminjam" name="rolePeminjam" id="rolePeminjam" size="30" value="<%=user.role%>" aria-required="true"/>
                                                            </div>
                                                        </div>
                                                    <%}%>
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <input class="form-control" type="text" placeholder="judulBuku" name="judulBuku" id="judulBuku" size="30" value="<%=data.judul%>" aria-required="true"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <input class="form-control" type="text" placeholder="isbnBuku" name="isbnBuku" id="isbnBuku" size="30" value="<%=data.isbn%>" aria-required="true"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <input class="form-control" type="text" placeholder="pengarangBuku" name="pengarangBuku" id="pengarangBuku" size="30" value="<%=data.pengarang%>" aria-required="true"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <input class="form-control" type="text" placeholder="gambar" name="gambar" id="gambar" size="30" value="<%=data.gambar%>" aria-required="true"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <button href="#." type="submit" class="btn btn-dark-gray">Pinjam Buku</button>
                                                    </div>
                                                </div>
                                            </form>
                                             
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <p><strong>Deskripsi:</strong> <%= data.deskripsi %>. </p>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- End: Products Section -->
        


        <!-- Start: Footer -->
        <%- include('../partials/footer') %>
        <!-- End: Footer -->

        <%- include('../partials/footscript') %>

        <%if (message.length > 0) { %>
            <script>
                swal({
                    title : "<%= message %>",
                    icon: "success",
                    text : "Done",
                    button: "Okay",
                });
            </script>
        <% } %>

        

    </body>


</html>