<!DOCTYPE html>
<html lang="zxx">
    
    <%- include('../partials/head') %>

    <body>

        <!-- Start: Header Section -->
        <%- include('../partials/navbar') %>
        <!-- End: Header Section -->

        <!-- Start: Page Banner -->
        <section class="page-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>Books Listing</h2>
                    <span class="underline center"></span>
                    <p class="lead">List buku yang tersedia di perpustakaan</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Books List</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->

        <!-- Start: Products Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="books-full-width">
                        <div class="container">
                            <!-- Start: Search Section -->
                            <section class="search-filters">
                                <div class="filter-box">
                                    <h3>Cari Buku </h3>
                                    <form action="/book-list" method="get">
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="sr-only" for="keywords">Cari judul atau pengarang</label>
                                                        <input class="form-control" placeholder="Cari judul atau pengarang" id="keywords" name="keywords" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-6">
                                                    <div class="form-group">
                                                        <input class="form-control btn-clearform" type="submit" value="Cari Buku">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <% if(keywords) {%>
                                        <p class="text-center"> you searched for : <span style="font-weight: bold;"><%= keywords %></span></p>
                                    <%}%>
                                </div>
                                
                                <div class="clear"></div>
                            </section>
                            <!-- End: Search Section -->
                            
                            <div class="booksmedia-fullwidth">
                                <ul>
                                    <% data.forEach((book) => { %>
                                        <li>
                                            <div class="book-list-icon yellow-icon"></div>
                                            <figure>
                                                <a href="/book-detail/<%= book._id %>">
                                                    <% if(book.gambar === undefined ) {%>
                                                        <img src="/images/placeholder/book.png" alt="Book" style="height: 615px;">
                                                    <% } else {%>
                                                        <img src="/getbook-image/<%= book._id %>" alt="Book">
                                                    <% } %>
                                                </a>
                                                <figcaption>
                                                    <header>
                                                        <h4><a href="/book-detail/<%= book._id %>"><%= book.judul %></a></h4>
                                                        <p><strong>Pengarang:</strong> <%= book.pengarang %> </p>
                                                        <p><strong>ISBN:</strong> <%= book.isbn %> </p>
                                                    </header>
                                                    <div style="font-weight: bold;">
                                                        Deskrispi: 
                                                    </div>
                                                    <p class="deskripsi"><%= book.deskripsi %></p>
                                                </figcaption>
                                            </figure>
                                        </li>
                                    <% }) %>
                                    <% if(count<1) {%>
                                        <h3 class="text-center">Buku tidak ditemukan</h3>
                                    <%}%>
                                </ul>
                            </div>
                            <nav class="navigation pagination text-center">
                                <h2 class="screen-reader-text">Posts navigation</h2>
                                <div class="nav-links">
                                    <% if (pages > 0) { %>
                                        <ul class="pagination text-center">
                                            <% if (current == 1) { %>
                                                <li class="disabled"><a>First</a></li>
                                            <% } else { %>
                                                <% if(!keywords) {%>
                                                    <li><a href="/book-list/1">First</a></li>
                                                <%} else {%>
                                                    <li><a href="/book-list/1?keywords=<%=keywords%>">First</a></li>
                                                <%}%>
                                            <% } %>
                                            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                            <% if (i !== 1) { %>
                                                <li class="disabled"><a>...</a></li>
                                            <% } %>
                                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                                <% if (i == current) { %>
                                                    <li class="active"><a><%= i %></a></li>
                                                <% } else { %>
                                                    <% if(!keywords) {%>
                                                        <li><a href="/book-list/<%= i %>"><%= i %></a></li>
                                                    <%} else {%>
                                                        <li><a href="/book-list/<%= i %>?keywords=<%=keywords%>"><%= i %></a></li>
                                                    <%}%>
                                                <% } %>
                                                <% if (i == Number(current) + 4 && i < pages) { %>
                                                    <li class="disabled"><a>...</a></li>
                                                <% } %>
                                            <% } %>
                                            <% if (current == pages) { %>
                                                <li class="disabled"><a>Last</a></li>
                                            <% } else { %>
                                                <% if(!keywords) {%>
                                                    <li><a href="/book-list/<%= pages %>">Last</a></li>
                                                <%} else {%>
                                                    <li><a href="/book-list/<%= pages %>?keywords=<%=keywords%>">Last</a></li>
                                                <%}%>
                                            <% } %>
                                        </ul>
                                    <% } %>
                                </div>
                            </nav>
                        </div>
                        <!-- Start: Staff Picks -->
                        <section class="team staff-picks">
                            <div class="container">
                                <div class="center-content">
                                    <h2 class="section-title">Staff Picks</h2>
                                    <span class="underline center"></span>
                                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <div class="team-list">
                                    <div class="team-member">
                                        <figure>
                                            <img src="/images/books-media/staff-pick/staff-picks-01.jpg" alt="Staff Pick" />
                                        </figure>
                                        <div class="content-block">
                                            <div class="member-info">
                                                <div class="member-thumb">
                                                    <img src="/images/staff/tiurma.jpg" alt="Tiurma" style="width: 100px;">
                                                </div>
                                                <div class="member-content">
                                                    <span class="designation">Downtown & Business</span>
                                                    <h4>The Collector</h4>
                                                    <ul class="social">
                                                        <li>
                                                            <a href="#" target="_blank">
                                                                <i class="fa fa-linkedin"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" target="_blank">
                                                                <i class="fa fa-facebook-f"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" target="_blank">
                                                                <i class="fa fa-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" target="_blank">
                                                                <i class="fa fa-skype"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <p>Buku ini sangat bagus untuk dibaca karena mengandung hal hal yang perlu diketahui...</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-member">
                                        <figure>
                                            <img src="/images/books-media/staff-pick/staff-picks-02.jpg" alt="Staff Pick" />
                                        </figure>
                                        <div class="content-block">
                                            <div class="member-info">
                                                <div class="member-thumb">
                                                    <img src="/images/staff/osin.jpg" alt="Osin" style="width: 100px;" >
                                                </div>
                                                <div class="member-content">
                                                    <span class="designation"> West End</span>
                                                    <h4>Mongolia</h4>
                                                    <ul class="social">
                                                        <li>
                                                            <a href="#" target="_blank">
                                                                <i class="fa fa-linkedin"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" target="_blank">
                                                                <i class="fa fa-facebook-f"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" target="_blank">
                                                                <i class="fa fa-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" target="_blank">
                                                                <i class="fa fa-skype"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <p>Membaca buku sangat menyenangkan dan dengan membaca buku ini lebih menyenangkan lagi karena keunikannya</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-member">
                                        <figure>
                                            <img src="/images/books-media/staff-pick/staff-picks-03.jpg" alt="Staff Pick" />
                                        </figure>
                                        <div class="content-block">
                                            <div class="member-info">
                                                <div class="member-thumb">
                                                    <img src="/images/staff/santhy.jpg" alt="Santhy" style="width: 100px;">
                                                </div>
                                                <div class="member-content">
                                                    <span class="designation">East Liberty</span>
                                                    <h4>The Revolution</h4>
                                                    <ul class="social">
                                                        <li>
                                                            <a href="#" target="_blank">
                                                                <i class="fa fa-linkedin"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" target="_blank">
                                                                <i class="fa fa-facebook-f"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" target="_blank">
                                                                <i class="fa fa-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" target="_blank">
                                                                <i class="fa fa-skype"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <p>Buku yang sangat menyenangkan untuk dibaca setiap pembaca yang ada terutama untuk pembaca buku</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- End: Staff Picks -->
                    </div>
                </main>
            </div>
        </div>
        <!-- End: Products Section -->

        

        <!-- Start: Footer -->
        <%- include('../partials/footer') %>
        <!-- End: Footer -->

        <%- include('../partials/footscript') %>

        <script>
            function truncateText(selector, maxLength) {
                var element = document.querySelectorAll(selector);
                let truncated = [];
                for(i=0;i<element.length;i++) {
                    truncated[i] = element[i].innerText;
                    if(truncated[i].length > maxLength) {
                        truncated[i] = truncated[i].substr(0, maxLength) + '...';
                    }
                }
                return truncated;
            }
            const mantapall = document.querySelectorAll('.deskripsi');
            mantapall.forEach((m, i) => {
                m.innerText = truncateText('.deskripsi', 180)[i];
            });
        </script>

        <% if (bookMessage.length !== 0 && bookMessage !== '') { %>
            <script>
            swal({
                title : "<%= bookMessage %>",
                icon: "error",
                text : "Coba lagi",
                button: "Okay",
            });
            </script>
        <%}%>

    </body>


</html>