<!DOCTYPE html>
<html lang="zxx">
    

    <%- include('../partials/head') %>

    <body>

        <!-- Start: Header Section -->
        <%- include('../partials/navbar') %>
        <!-- End: Header Section -->
                
        <!-- Start: Page Banner -->
        <section class="page-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>CD / DVD</h2>
                    <span class="underline center"></span>
                    <p class="lead">Compact Disk and Digital Vertasile Driver</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>CD / DVD</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->

        <!-- Start: Book & Media Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="books-media-list">
                        <div class="container">
                            <div class="row">
                                <!-- Start: Search Section -->
                                <section class="search-filters">
                                    <div class="container">
                                        <div class="filter-box">
                                            <h3>What are you looking for at the library?</h3>
                                            <form action="http://libraria.demo.presstigers.com/index.html" method="get">
                                                <div class="col-md-4 col-sm-6">
                                                    <div class="form-group">
                                                        <label class="sr-only" for="keywords">Search by Keyword</label>
                                                        <input class="form-control" placeholder="Search by Keyword" id="keywords" name="keywords" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <div class="form-group">
                                                        <select name="catalog" id="catalog" class="form-control">
                                                            <option>Search the Catalog</option>
                                                            <option>Catalog 01</option>
                                                            <option>Catalog 02</option>
                                                            <option>Catalog 03</option>
                                                            <option>Catalog 04</option>
                                                            <option>Catalog 05</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <div class="form-group">
                                                        <select name="category" id="category" class="form-control">
                                                            <option>All Categories</option>
                                                            <option>Category 01</option>
                                                            <option>Category 02</option>
                                                            <option>Category 03</option>
                                                            <option>Category 04</option>
                                                            <option>Category 05</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-6">
                                                    <div class="form-group">
                                                        <input class="form-control" type="submit" value="Search">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </section>
                                <!-- End: Search Section -->
                            </div>
                            <div class="row">

                                    <div class="col-md-12" style="margin-bottom: 100px;">
                                        <aside id="secondary" class="sidebar widget-area" data-accordion-group>
                                            <div class="widget widget_related_search open">
                                                <h4 style="font-size: 30px;" class="widget-title text-center" data-control>CD / DVD</h4>
                                                <div data-content>
                                                    <% data.forEach((d) => { %>
                                                    <div data-accordion>
                                                        <h5 class="widget-sub-title" data-control><span><i class="fa fa-pie-chart" style="color:black; font-size: 20px; margin-right: 10px;"></i></span><%= d.judul %></h5>
                                                        <div class="widget_categories" data-content>
                                                            <ul>
                                                                <li><span style="font-weight: bold;">Id Master : </span> <%= d.id_master %> </li>
                                                                <li><span style="font-weight:bold;">Sumber: </span> <%= d.sumber %></li>
                                                                <li><span style="font-weight: bold;">Prodi pemilik:</span> <%= d.prodiPemilik %></li>
                                                                <li><span style="font-weight: bold; display: block;">Deskripsi:</span><%= d.keterangan %></li>
                                                                <% if(d.status == 0) {%>
                                                                    <li style="color: green;">Tersedia</li>
                                                                <% } else {%>
                                                                    <li style="color: red;">Tidak Tersedia</li>
                                                                <%}%>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <% })%>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </aside>
                                    </div>
                                
                            </div>
                        </div>
                        
                        
                        <!-- End: Staff Picks -->
                    </div>
                </main>
            </div>
        </div>
        <!-- End: Books & Media Section -->

        
        <!-- End: Social Network -->

        <!-- Start: Footer -->
        <%- include('../partials/footer') %>
        <!-- End: Footer -->

        <%- include('../partials/footscript') %>

        <%if (cdSuccess.length > 0) { %>
            <script>
                swal({
                    title : "<%= cdSuccess %>",
                    icon: "success",
                    text : "Done",
                    button: "Okay",
                });
            </script>
        <% } %>


    </body>


</html>