<!DOCTYPE html>
<html lang="en">
    

    <%- include('../partials/head') %>
    
    <body>
        
        <!-- Start: Header Section -->
        <%- include('../partials/navbar') %>
        <!-- End: Header Section -->
        
        <!-- Start: Slider Section -->
        <div data-ride="carousel" class="carousel slide" id="home-v1-header-carousel">
            
            <!-- Carousel slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <figure>
                        <img alt="Home Slide" src="/images/dashboard/itdel.jpg" width="100" />
                    </figure>
                    <div class="container">
                        <div class="carousel-caption">
                            <h3> - Mark Twain -</h3>
                            <h2>Discover Your Roots</h2>
                            <p>Good friends, good books, and a sleepy conscience: this is the ideal life</p>
                            <div class="slide-buttons hidden-sm hidden-xs">    
                                <a href="#detailLanding" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <figure>
                        <img alt="Home Slide" src="images/dashboard/itdel2.png" />
                    </figure>
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>When in doubt, go to the library</h3>
                            <h2>read books every day</h2>
                            <p>Nothing is pleasanter than exploring a library</p>
                            <div class="slide-buttons hidden-sm hidden-xs">    
                                <a href="#detailLanding" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <figure>
                        <img alt="Home Slide" src="images/header-slider/home-v1/header-slide.jpg" />
                    </figure>
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>Online Learning Anytime, Anywhere!</h3>
                            <h2>find your book</h2>
                            <p>I had found my religion: nothing seemed more important to me than a book. I saw the library as a temple</p>
                            <div class="slide-buttons hidden-sm hidden-xs">    
                                <a href="#detailLanding" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Controls -->
            <a class="left carousel-control" href="#home-v1-header-carousel" data-slide="prev"></a>
            <a class="right carousel-control" href="#home-v1-header-carousel" data-slide="next"></a>
        </div>
        <!-- End: Slider Section -->
        
        <!-- Start: Search Section -->
        <section class="search-filters">
            <div class="container">
                <div class="filter-box">
                    <h3>What are you looking for at the library?</h3>
                    <form action="http://libraria.demo.presstigers.com/index.html" method="get">
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <label class="sr-only" for="keywords">Search by Keyword</label>
                                <input class="form-control" placeholder="Search by Keyword" id="keywords" name="keywords" type="text">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <select name="catalog" id="catalog" class="form-control">
                                    <option>Search the Catalog</option>
                                    <option>Catalog 01</option>
                                    <option>Catalog 02</option>
                                    <option>Catalog 03</option>
                                    <option>Catalog 04</option>
                                    <option>Catalog 05</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <select name="category" id="category" class="form-control">
                                    <option>All Categories</option>
                                    <option>Category 01</option>
                                    <option>Category 02</option>
                                    <option>Category 03</option>
                                    <option>Category 04</option>
                                    <option>Category 05</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div class="form-group">
                                <input class="form-control" type="submit" value="Search">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- End: Search Section -->
        
        <!-- Start: Welcome Section -->
        <section class="welcome-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="welcome-wrap">
                            <div class="welcome-text" id="detailLanding">
                                <h2 class="section-title">Welcome to the OLIS Del</h2>
                                <span class="underline left"></span>
                                <p class="lead">Pengenalan Perpustakaan</p>
                                <p>Perpustakaan Institut Teknologi (IT) Del memperoleh juara II di Sumut untuk kategori perpustakaan Perguruan Tinggi Swasta (PTS) menurut penilaian Dinas Perpustakaan dan Arsip Pemerintah Provinsi Sumatera Utara. Kompetisi Perpustakaan ini dinilai dari berbagai macam kriteria, yaitu Profil Perpustakaan, Sistem Database Buku, Sistem Sirkulasi dan Manajemen Buku, Jumlah Koleksi Buku, dan lain-lain. Dalam presentasinya Kepala Perpustakaan IT Del Ibu Tiurma Lumban Gaol S.P., M.P mengambil tema “Think Locally But Act Globally”. Ditahap terakhir ini dipilihlah 3 (tiga) pemenang, dan IT Del mendapatkan juara II setingkat Provinsi Sumatera Utara.</p>
                                <a class="btn btn-primary" href="/services#sekilas">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="facts-counter">
                            <ul>
                                <li class="bg-yellow">
                                    <div class="fact-item">
                                        <div class="fact-icon">
                                            <i class="eaudio"></i>
                                        </div>
                                        <span>Books<strong class="fact-counter"><%= data.book %></strong></span>
                                    </div>
                                </li>
                                <li class="bg-light-green">
                                    <div class="fact-item">
                                        <div class="fact-icon">
                                            <i class="ebook"></i>
                                        </div>
                                        <span>Local<strong class="fact-counter"><%= data.localContent %></strong></span>
                                    </div>
                                </li>
                                <li class="bg-red">
                                    <div class="fact-item">
                                        <div class="fact-icon">
                                            <i class="magazine"></i>
                                        </div>
                                        <span>Artikel<strong class="fact-counter"><%= data.article%></strong></span>
                                    </div>
                                </li>
                                <li class="bg-blue">
                                    <div class="fact-item">
                                        <div class="fact-icon">
                                            <i class="videos"></i>
                                        </div>
                                        <span>CD / DVD<strong class="fact-counter"><%= data.cd %></strong></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcome-image"></div>
        </section>
        <!-- End: Welcome Section -->
        
        
        <!-- Start: Newsletter -->
        <section class="newsletter section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="center-content">
                            <h2 class="section-title">Subscribe to our Newsletters</h2>
                            <span class="underline center"></span>
                            <p class="lead">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Enter your Email!" id="newsletter" name="newsletter" type="email">
                            <input class="form-control" value="Subscribe" type="submit">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End: Newsletter -->
        
        <!-- Start: Meet Staff -->
        <section class="team section-padding">
            <div class="container">
                <div class="center-content">
                    <h2 class="section-title">Meet Our Staff</h2>
                    <span class="underline center"></span>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="team-list">
                    <div class="team-member">
                        <figure>
                            <img src="/images/staff/tiurma.jpg" alt="team" />
                        </figure>
                        <div class="content-block">
                            <div class="member-info">
                                <h4>Tiurma Lumbangaol</h4>
                                <span class="designation">Library Head</span>
                                <ul class="social">
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fa fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </li>
                                </ul>
                                <p>Surga mungkin sebuah perpustakaan raksasa yang semua isinya terbuat dari coklat. Kau bisa membaca lalu memakan semuanya.</p>
                                <a class="btn btn-primary" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="team-member">
                        <figure>
                            <img src="/images/staff/santhy.jpg" alt="team" />
                        </figure>
                        <div class="content-block">
                            <div class="member-info">
                                <h4>Santhy Munthe</h4>
                                <span class="designation">Librarian</span>
                                <ul class="social">
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fa fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </li>
                                </ul>
                                <p>Perpustakaan adalah tempat untuk memenuhi dahaga ilmu pengetahuan.</p>
                                <a class="btn btn-primary" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="team-member">
                        <figure>
                            <img src="/images/staff/osin.jpg" alt="team" />
                        </figure>
                        <div class="content-block">
                            <div class="member-info">
                                <h4>Osin Nainggolan</h4>
                                <span class="designation">Librarian</span>
                                <ul class="social">
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fa fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </li>
                                </ul>
                                <p>Kita mungkin hanya duduk di perpustakaan dan belum berada di semua penjuru bumi.</p>
                                <a class="btn btn-primary" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End: Meet Staff -->
        
        <!-- Start: Latest Blog -->
        <section class="latest-blog section-padding banner">
            <div class="container">
                <div class="center-content">
                    <h2 class="section-title">Artikel Terbaru</h2>
                    <span class="underline center"></span>
                    <p class="lead">Berikut artikel terbaru untuk pmebaca dapat membacanya</p>
                </div>
                <div class="tabs-container">
                    <div class="tabs-menu">
                        <ul>
                            <li class="">
                                <a href="/book-list" class="bg-yellow" style="cursor: context-menu;">
                                    <div class="title">
                                        <i class="yellow"></i>
                                        <h3>Books</h3>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/localcontent-list" class="bg-light-green" style="cursor: context-menu;">
                                    <div class="title">
                                        <i class="light-green"></i>
                                        <h3>Local</h3>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/cd_dvd-list" class="bg-blue" style="cursor: context-menu;">
                                    <div class="title">
                                        <i class="blue"></i>
                                        <h3>CD / DVD</h3>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/article" class="bg-red" style="cursor: context-menu;">
                                    <div class="title">
                                        <i class="red"></i>
                                        <h3>Artikel</h3>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/pengumuman-list" class="bg-violet" style="cursor: context-menu;">
                                    <div class="title">
                                        <i class="violet"></i>
                                        <h3>Pengumuman</h3>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/" class="bg-green" style="cursor: context-menu;">
                                    <div class="title">
                                        <i class="green"></i>
                                        <h3>Dashboard</h3>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tabs-list">
                        <div class="tab-content active">
                            <article>
                                <figure>
                                    <% if(terbaru.articleterbaru.gambar === undefined ) {%>
                                        <img src="/images/placeholder/potrait.png" style="height: 555px;" alt="Book">
                                    <% } else {%>
                                        <img src="/getarticle-image/<%= terbaru.articleterbaru._id %>" style="height: 555px;" alt="Latest Blog">
                                    <% } %>
                                    <figcaption>
                                        <a href="#.">
                                            <span class="date"><%= terbaru.articleterbaru.tanggal[0]%></span>
                                            <span class="month"><%= terbaru.articleterbaru.tanggal[1]%></span>
                                        </a>
                                    </figcaption>
                                </figure>
                                <div class="post-detail">
                                    <div class="info-bar">
                                        <div class="likes">
                                            <a aria-disabled="true" disabled="true">
                                                <i class="fa fa-thumbs-o-up"></i> like
                                            </a>
                                        </div>
                                        <div style="margin-top: 18px;">
                                            Like feature coming soon
                                        </div>
                                    </div>
                                    <h4><%= terbaru.articleterbaru.judul %></h4>
                                    <div class="author">
                                        <a href="#">
                                            <i class="fa fa-user"></i> <%= terbaru.articleterbaru.author %>
                                        </a>
                                    </div>
                                    <p id="articleHome"><%= terbaru.articleterbaru.text%></p>
                                    <a class="btn btn-dark-gray" href="/article-detail/<%= terbaru.articleterbaru._id%>">Read More</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End: Latest Blog -->
        
        <!-- Start: Our Partners Section -->
        <section class="community-testimonial">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-title">Testimonial Mahasiswa</h2>
                    <span class="underline center"></span>
                    <p class="lead">Beberapa keterangan mahasiswa terhadap perpustakaan IT DEL</p>
                </div>
                <div class="owl-carousel">
                    <div class="single-testimonial-box">
                        <div class="top-portion">
                            <img src="/images/testi/josbar.png" alt="Testimonial Image" />
                            <div class="user-comment">
                                <div class="arrow-left"></div>
                                <blockquote cite="#">
                                Perpustakaan IT DEL sangat lengkap, dengan ketenangan dan kenyamanan yang diberikan membuat saya mampu dengan mudah menyerap ilmu dari buku yang saya baca.
                                </blockquote>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="bottom-portion">
                                <a href="#" class="author">
                                    Josua Baringbing <small> (Mahasiswa)</small>
                                </a>
                            <div class="social-share-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="single-testimonial-box">
                        <div class="top-portion">
                            <img src="/images/testi/nicolas.png" alt="Testimonial Image" />
                            <div class="user-comment">
                                <div class="arrow-left"></div>
                                <blockquote cite="#">
                                Banyak sekali dokumen PA/TA kakak/abang tingkat yang membantu kelompok kami dalam mengerjakan proyek, ini sanga membantuk sekali bagi mahasiswa
                                </blockquote>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="bottom-portion">
                                <a href="#" class="author">
                                    Nicolas Manurung <small> (Mahasiswi)</small>
                                </a>
                            <div class="social-share-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="single-testimonial-box">
                        <div class="top-portion">
                            <img src="/images/testi/bryan.png" alt="Testimonial Image" />
                            <div class="user-comment">
                                <div class="arrow-left"></div>
                                <blockquote cite="#">
                                Mantap sekali perpustakaan ini, saya dengan mudah mencari buku yang saya inginkan dan ruangan diskusi membantu saya dan kelompok saya dalam merumuskan proyek kami dengan mudah.
                                </blockquote>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="bottom-portion">
                                <a href="#" class="author">
                                    Bryan Lumbantobing <small> (Mahasiswa)</small>
                                </a>
                            <div class="social-share-links">
                                <ul>
                                    <li><a href="https://www.linkedin.com/in/bryanlumbantobing/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.facebook.com/BryanExaudiTobing/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/bryantobing12"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="https://secure.skype.com/portal/overview"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                    <li><a href="https://instagram.com/bryanltobing"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End: Our Partners Section -->
        
        
        <!-- Start: Footer -->
        <%- include('../partials/footer') %>
        <!-- End: Footer -->
        <%- include('../partials/footscript') %>
    </body>

    <script>
        function truncateText(selector, maxLength) {
            var element = document.querySelector(selector);
                truncated = element.innerText;
                if(truncated.length > maxLength) {
                    truncated = truncated.substr(0, maxLength) + '...';
                }
            
            return truncated;
        }
        const mantapall = document.querySelector('#articleHome');
        mantapall.innerText = truncateText('#articleHome', 300);
    </script>


</html>