<!DOCTYPE html>
<html lang="zxx">
    
    
    <%- include('../partials/head') %>
    <link rel="stylesheet" type="text/css" href="/css/responsivetable.css" />
    
    <body>
        
        <!-- Start: Header Section -->
        <%- include('../partials/navbar') %>

        <!-- End: Header Section -->
        
        <!-- Start: Page Banner -->
        <section class="page-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>Local Content</h2>
                    <span class="underline center"></span>
                    <p class="lead">Local Content IT Del</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Local Content</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->
        <!-- Start: Cart Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="cart-main">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 style="font-size: 30px;" class="widget-title text-center" data-control>Local Content IT Del</h4>
                                    <form action="/localcontent-list" method="get" style="margin-top: 30px;">
                                        <div class="container">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="judul" id="" placeholder="Cari Judul">
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <select name="jenis" id="jenis" class="form-control">
                                                        <option value="">Berdasarkan jenis dokumen</option>
                                                        <option value="Kerja Praktek">Kerja Praktek</option>
                                                        <option value="Proyek Akhir 1">Proyek Akhir 1</option>
                                                        <option value="Proyek Akhir 2">Proyek Akhir 2</option>
                                                        <option value="Proyek Akhir 3">Proyek Akhir 3</option>
                                                        <option value="Tugas Akhir">Tugas Akhir</option>
                                                        <option value="Skripsi">Skripsi</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <input type="submit" class="form-control" value="Cari">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="container">
                                        <% if(keywords.judul){%>
                                            <p> You searched for : <span style="font-weight: bold;"><%= keywords.judul%></span></p>
                                        <%}%> 
                                        <% if(keywords.jenis) {%>
                                            <p> Sort berdasarkan dokumen <span style="font-weight: bold;"><%= keywords.jenis%></span></p>
                                        <%}%>
                                    </div>
                                    <div class="page type-page status-publish hentry">
                                        <div class="entry-content">
                                            <div class="woocommerce table-tabs" id="responsiveTabs">
                                                <div class="tab-content">
                                                    <div id="sectionA" class="tab-pane fade in active">
                                                            <table class="table table-bordered shop_table cart">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="product-name">Judul</th>
                                                                        <th class="product-quantity">Aksi</th>
                                                                        <th class="product-price">Jenis Dokumen</th>                                                                
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% data.forEach((d, i) => { %>
                                                                        <tr class="cart_item">
                                                                            <td data-title="Product" class="product-name">
                                                                                <span class="product-detail">
                                                                                    <a href="#" data-toggle="modal" data-target="#myModal<%=i%>" style="text-transform: capitalize;"><strong><%= d.judul %></strong></a>
                                                                                    <span><strong>Penulis:</strong> <%= d.penulis %></span>
                                                                                    <span><strong>Subject:</strong> <%= d.subject %></span>
                                                                                </span>
                                                                            </td>
                                                                            <td data-title="action" class="product-action">
                                                                                <!-- Trigger the modal with a button -->
                                                                                <button type="button" class="btn btn-dark-gray btn-lg" data-toggle="modal" data-target="#myModal<%=i%>">Detail</button>
                                                                                
                                                                                <!-- Modal -->
                                                                                <div class="modal fade" id="myModal<%=i%>" role="dialog">
                                                                                    <div class="modal-dialog">
                                                                                    
                                                                                    <!-- Modal content-->
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                        <h4 class="modal-title" style="color : #3e97cc; text-transform: capitalize;"><%= d.judul %></h4>
                                                                                        </div>
                                                                                        <div class="modal-body" style="text-transform: capitalize;">
                                                                                            <p><span style="font-weight: bold;">Penulis: </span> <%= d.penulis %></p>
                                                                                            <p><span style="font-weight: bold;">Subject: </span> <%= d.subject %></p>
                                                                                            <p><span style="font-weight: bold;">Jenis Dokumen: </span> <%= d.jenis %></p>
                                                                                            <p><span style="font-weight: bold;">Tahun : </span> <%= d.tahun %></p>
                                                                                            <p><span style="font-weight: bold;">Tingkat : </span> <%= d.tingkat %></p>
                                                                                            <p><span style="font-weight: bold;">Pembimbing : </span> <%= d.pembimbing %></p>
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                                        </div>
                                                                                    </div>

                                                                                    
                                                                                    </div>
                                                                                </div>
                                                                                    
                                                                            </td>
                                                                            <td data-title="Price" class="product-price">
                                                                                <p style="font-weight: bold;"><%= d.jenis %></p>
                                                                            </td>
                                                                        </tr>
                                                                    <% })%>
                                                                    </tbody>
                                                            </table>
                                                            <% if(data.length < count) {%>
                                                                <a href="/localcontent-list?limit=<%=limit+7%>" class="btn btn-dark-gray btn-lg">Load more</a>
                                                            <%} else if(count < 1){ %>
                                                                <div class="container"><p>Hasil tidak ditemukan</p></div>
                                                            <% } else {%>
                                                                <div class="container"><p>All Local Content are Loaded</p></div>
                                                            <%}%>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- .entry-content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- End: Cart Section -->
        
        
        <!-- Start: Footer -->
        <%- include('../partials/footer') %>

        <!-- End: Footer -->
        
        <%- include('../partials/footscript') %>

        <%if (localContentSuccess.length > 0) { %>
            <script>
                swal({
                    title : "<%= localContentSuccess %>",
                    icon: "success",
                    text : "Done",
                    button: "Okay",
                });
            </script>
        <% } %>

        
    </body>


</html>