<!DOCTYPE html>
<html lang="zxx">
    
    <%- include('../partials/head') %>
    <link rel="stylesheet" type="text/css" href="/css/jquery.accordion.css">

    <body>

        <!-- Start: Header Section -->
        <%- include('../partials/navbar') %>
        
        <!-- End: Header Section -->

        <!-- Start: Page Banner -->
        <section class="page-banner news-listing-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>Pengumuman</h2>
                    <span class="underline center"></span>
                    <p class="lead">Daftar Pengumuman</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Pengumuman</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->

        <!-- Start: Products Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="main-news-list">
                        <div class="container">
                            <!-- Start: Search Section -->
                            <section class="search-filters">
                                <div class="filter-box">
                                    <h3>Cari Pengumuman &amp; Pemberitahuan</h3>
                                    <form action="/pengumuman-list" method="get">
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="sr-only" for="keywords">Cari judul pengumuman</label>
                                                        <input class="form-control" placeholder="Cari judul pengumuman" id="keywords" name="keywords" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-6">
                                                    <div class="form-group">
                                                        <input class="form-control btn-clearform" type="submit" value="Cari Pengumuman">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="clear"></div>
                            </section>
                            <!-- End: Search Section -->
                            <div class="row">
                                <% data.forEach((d) => { %>
                                    <div class="col-md-12 news-events-list-view">
                                        <div class="news-list-box">
                                            <div class="single-news-list">
                                                <div class="content-block">
                                                    <div class="member-info">
                                                        <ul class="news-event-info">
                                                            <li>
                                                                <a href="#" target="_blank">
                                                                    <i class="fa fa-calendar"></i>
                                                                    <%= d.tanggal[1] %> <%= d.tanggal[2] %>, <%= d.tanggal[3] %>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_blank">
                                                                    <i class="fa fa-clock-o"></i>
                                                                    <%= d.tanggal[5] %>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <h3><a href="/pengumuman-detail/<%= d._id %>"><%= d.judul %></a></h3>
                                                        <p class="deskripsi"><%= d.konten %></p>
                                                        <a class="btn btn-primary" href="/pengumuman-detail/<%= d._id %>">Read More</a>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                <% })%>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- End: Products Section -->


        <!-- Start : Footer -->
        <%- include('../partials/footer') %>
        <!-- End: Footer -->

        <%- include('../partials/footscript') %>

        <script>
            function truncateText(selector, maxLength) {
                var element = document.querySelectorAll(selector);
                let truncated = [];
                for(i=0;i<element.length;i++) {
                    truncated[i] = element[i].innerText;
                    if(truncated[i].length > maxLength) {
                        truncated[i] = truncated[i].substr(0, maxLength) + '...';
                    }
                }
                return truncated;
            }
            const mantapall = document.querySelectorAll('.deskripsi');
            mantapall.forEach((m, i) => {
                m.innerText = truncateText('.deskripsi', 207)[i];
            });
        </script>

        <%if (error.length > 0) { %>
            <script>
                swal({
                    title : "<%= error %>",
                    icon: "error",
                    text : "Failed",
                    button: "Okay",
                });
            </script>
        <% } %>

        <%if (deleted.length > 0) { %>
            <script>
                swal({
                    title : "<%= deleted %>",
                    icon: "error",
                    text : "Success",
                    button: "Okay",
                });
            </script>
        <% } %>



    </body>


</html>