<!DOCTYPE html>
<html lang="zxx">
    

    <%- include('../partials/head') %>

    <body>

        <!-- Start: Header Section -->
        <%- include('../partials/navbar') %>

        <!-- End: Header Section -->

        <!-- Start: Page Banner -->
        <section class="page-banner news-listing-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>Pengumuman Detail</h2>
                    <span class="underline center"></span>
                    <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/pengumuman-list">Pengumuman List</a></li>
                        <li>Pengumuman Detail</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->

        <!-- Start: Products Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="main-news-list">
                        <div class="container">
                            <!-- Start: Search Section -->
                            <section class="search-filters">
                                <div class="filter-box">
                                    
                                </div>
                                <div class="clear"></div>
                            </section>
                            <!-- End: Search Section -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="news-list-detail">
                                        <div class="news-list-box">
                                            <div class="single-news-list">
                                                <figure>
                                                </figure>
                                                <div class="content-block">
                                                    <div class="member-info">
                                                        <ul class="news-event-info">
                                                            <li>
                                                                <a href="#" target="_blank">
                                                                    <i class="fa fa-calendar"></i>
                                                                    <%= d.tanggal[1] %> <%= d.tanggal[2] %>, <%= d.tanggal[3] %>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_blank">
                                                                    <i class="fa fa-clock-o"></i>
                                                                    <%= d.tanggal[5] %>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <h2><%= data.judul %></h2>
                                                        <% data.baru.forEach((de) => { %>
                                                            <p><%=de%></p>
                                                        <%})%>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- End: Products Section -->

        

        <!-- Start: Footer -->
        <%- include('../partials/footer') %>
        
        <!-- End: Footer -->

        <%- include('../partials/footscript') %>
        

    </body>


</html>