<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head') %>

    <style>
        
        @media only screen and (max-width: 600px) {
            td {
                display: block;
            }
            .titikdua {
                display: none;
            }
        }
        .infoRequest {
            display: block;
        }
        .waiting {
            background-color: #ebedee;
        }
        .approved {
            background-color: lightgreen;
        }
        .completed {
            background-color: rgb(168, 203, 235);
        }
        .late {
            background-color: rgb(219, 219, 127);
        }
        .peminjam {
            display: block;
        }
        .category-item {
            min-height:650px !important; max-height : 500px !important; margin: 20px;
            box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
        }
        .tolakRequest {
            color: red;
            background-color: pink !important;
        }
        .tolakRequest:hover {
            color: white !important;
            background-color: red !important;
        }
        @media only screen and (max-width: 767px) {
            .category-item {
                margin: 10px 0px;
            }
            
        }
    </style>

    <body>
        
        <!-- Start: Header Section -->
        <%- include('../partials/navbar') %>
        <!-- End: Header Section -->
        
        <!-- Start: Page Banner -->
        <section class="page-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>Request Book List</h2>
                    <span class="underline center"></span>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/user/dashboard">Dashboard</a></li>
                        <li>Request Book List</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->

        <!-- Start: Products Section -->
        <section class="category-filter section-padding">
            <div class="container">
                <div class="center-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h2 class="section-title">Request Book List</h2>
                            <span class="underline center"></span>
                            <p class="lead">You can approved request detail</p>
                        </div>
                    </div>
                </div>
                <div class="filter-buttons">
                    <div class="filter btn" data-filter="all">All Request</div>
                    <div class="filter btn" data-filter=".waiting">Waiting</div>
                    <div class="filter btn" data-filter=".approved">Approved</div>
                    <div class="filter btn" data-filter=".late">Late return</div>
                    <div class="filter btn" data-filter=".completed">Completed</div>
                </div>
            </div>
            <div id="category-filter">
                <ul class="category-list">
                    <% request.forEach((req) => { %>
                        <% if(req.statusPinjam === '0') { %>
                        <li class="category-item waiting">
                            <div class="info-bar" style="margin:30px;">
                                <h4>Request Peminjaman</h4><span style="color: #576478;"><%= req.created %></span>
                                <span class="underline left"></span>
                                <span class="infoRequest"><strong class="peminjam">Nama Peminjam:</strong> <%= req.namaPeminjam %></span>
                                <span class="infoRequest"><strong class="peminjam">Nomor Induk:</strong> <%= req.nomorIndukPeminjam %></span>
                                <span class="infoRequest"><strong class="peminjam">Email:</strong> <%= req.emailPeminjam %></span>
                                <span class="infoRequest"><strong class="peminjam">Role:</strong> <%= req.rolePeminjam %></span>
                                <span class="infoRequest"><img src="/getbook-image/<%=req.idBuku%>" style="width: 100px;" > </span>
                                <span class="infoRequest"><strong>Judul Buku:</strong> <%= req.judulBuku %></span>
                                <span class="infoRequest"><strong>Isbn Buku:</strong> <%= req.isbnBuku %></span>
                                <span class="infoRequest"><strong>Pengarang:</strong> <%= req.pengarangBuku %> </span>
                                <span class="infoRequest"><strong>Status:</strong>Menunggu Persetujuan</span>
                                <form action="/user/pinjambuku/list/approve/<%= req._id %>?_method=PATCH" method="POST" class="deleteForm">
                                    <button class="deleteButton" type="submit">Setujui Request <i class="fa fa-ticket"></i></button>
                                </form>
                                <form action="/user/pinjambuku/list/reject/<%= req._id %>?_method=PATCH" method="POST" class="deleteForm">
                                    <button class="tolakRequest" type="submit">Tolak Request <i class="fa fa-remove"></i></button>
                                </form>
                            </div>
                        </li>
                        <% } else if(req.statusPinjam === "1") {%>
                            <li class="category-item approved">
                                <div class="info-bar" style="margin:30px;">
                                    <h4>Request Peminjaman</h4><span style="color: #576478;"><%= req.created %></span>
                                    <span class="underline left"></span>
                                    <span class="infoRequest"><strong class="peminjam">Nama Peminjam:</strong> <%= req.namaPeminjam %></span>
                                    <span class="infoRequest"><strong class="peminjam">Nomor Induk:</strong> <%= req.nomorIndukPeminjam %></span>
                                    <span class="infoRequest"><strong class="peminjam">Email:</strong> <%= req.emailPeminjam %></span>
                                    <span class="infoRequest"><strong class="peminjam">Role:</strong> <%= req.rolePeminjam %></span>
                                    <span class="infoRequest"><img src="/getbook-image/<%=req.idBuku%>" style="width: 100px;" > </span>
                                    <span class="infoRequest"><strong>Judul Buku:</strong> <%= req.judulBuku %></span>
                                    <span class="infoRequest"><strong>Isbn Buku:</strong> <%= req.isbnBuku %></span>
                                    <span class="infoRequest"><strong>Pengarang:</strong> <%= req.pengarangBuku %> </span>
                                    <span class="infoRequest"><strong>Status:</strong>Disetujui</span>
                                    <div style="border: 2px solid white; padding: 5px; margin: 5px 0px;">
                                        <span class="infoRequest"><strong>Batas Pengembalian:</strong><%= req.batasPeminjaman %></span>
                                        <span class="infoRequest"><strong>Tanggal:</strong><%= req.kembali %></span>
                                    </div>
                                    <form action="/user/pinjambuku/list/complete/<%= req._id %>?_method=PATCH" method="POST" class="deleteForm">
                                        <button style="background-color: limegreen;" href="#">Mark as complete <i class="fa fa-long-arrow-right"></i></button>
                                    </form>
                                </div>
                            </li>
                        <% } else if(req.statusPinjam === "2") { %>
                            <li class="category-item late">
                                <div class="info-bar" style="margin:30px;">
                                    <h4>Late return</h4><span style="color: #576478;"><%= req.created %></span>
                                    <span class="underline left"></span>
                                    <span class="infoRequest"><strong class="peminjam">Nama Peminjam:</strong> <%= req.namaPeminjam %></span>
                                    <span class="infoRequest"><strong class="peminjam">Nomor Induk:</strong> <%= req.nomorIndukPeminjam %></span>
                                    <span class="infoRequest"><strong class="peminjam">Email:</strong> <%= req.emailPeminjam %></span>
                                    <span class="infoRequest"><strong class="peminjam">Role:</strong> <%= req.rolePeminjam %></span>
                                    <span class="infoRequest"><img src="/getbook-image/<%=req.idBuku%>" style="width: 100px;" > </span>
                                    <span class="infoRequest"><strong>Judul Buku:</strong> <%= req.judulBuku %></span>
                                    <span class="infoRequest"><strong>Isbn Buku:</strong> <%= req.isbnBuku %></span>
                                    <span class="infoRequest"><strong>Pengarang:</strong> <%= req.pengarangBuku %> </span>
                                    <span class="infoRequest"><strong>Status:</strong>Terlambat mengembalikan</span>
                                    <div style="border: 2px solid white; padding: 5px; margin: 5px 0px;">
                                        <span class="infoRequest"><strong>Batas Pengembalian:</strong><%= req.batasPeminjaman %></span>
                                        <span class="infoRequest"><strong>Tanggal:</strong><%= req.kembali %></span>
                                    </div>
                                    <form action="/user/pinjambuku/list/complete/<%= req._id %>?_method=PATCH" method="POST" class="deleteForm">
                                        <button style="background-color: rgb(204, 204, 58);" href="#">Mark as complete <i class="fa fa-long-arrow-right"></i></button>
                                    </form>
                                </div>
                            </li>
                        <%} else if(req.statusPinjam === "5") { %>
                            <li class="category-item completed">
                                <div class="info-bar" style="margin:30px;">
                                    <h4>Selesai</h4><span style="color: #576478;"><%= req.created %></span>
                                    <span class="underline left"></span>
                                    <span class="infoRequest"><strong class="peminjam">Nama Peminjam:</strong> <%= req.namaPeminjam %></span>
                                    <span class="infoRequest"><strong class="peminjam">Nomor Induk:</strong> <%= req.nomorIndukPeminjam %></span>
                                    <span class="infoRequest"><strong class="peminjam">Email:</strong> <%= req.emailPeminjam %></span>
                                    <span class="infoRequest"><strong class="peminjam">Role:</strong> <%= req.rolePeminjam %></span>
                                    <span class="infoRequest"><img src="/getbook-image/<%=req.idBuku%>" style="width: 100px;" > </span>
                                    <span class="infoRequest"><strong>Judul Buku:</strong> <%= req.judulBuku %></span>
                                    <span class="infoRequest"><strong>Isbn Buku:</strong> <%= req.isbnBuku %></span>
                                    <span class="infoRequest"><strong>Pengarang:</strong> <%= req.pengarangBuku %> </span>
                                    <span class="infoRequest"><strong>Status:</strong>Selesai</span>
                                    <button style="background-color: rgb(15, 103, 204); cursor: context-menu;" href="#">Selesai <i class="fa fa-check"></i></button>
                                </div>
                            </li>
                        <%}%>
                    <% }) %>
                
                </ul>
                <div class="clearfix"></div>
            </div>
        </section>
        <!-- End: Products Section -->
       
        
        <!-- Start: Footer -->
        <%- include('../partials/footer') %>

        <!-- End: Footer -->
        
        <%- include('../partials/footscript') %>

        <%if (success.length > 0) { %>
            <script>
                swal({
                    title : "<%= success %>",
                    icon: "success",
                    text : "Success",
                    button: "Okay",
                });
            </script>
        <% } %>

        <%if (error.length > 0) { %>
            <script>
                swal({
                    title : "<%= error %>",
                    icon: "error",
                    text : "error",
                    button: "Okay",
                });
            </script>
        <% } %>

        
    </body>


</html>
