<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head') %>

    <style>
        
        @media only screen and (max-width: 600px) {
            td {
                display: block;
            }
            .titikdua {
                display: none;
            }
        }
        .infoRequest {
            display: block;
        }
        .waiting {
            background-color: #ebedee;
        }
        .approved {
            background-color: lightgreen;
        }
    </style>

    <body>
        
        <!-- Start: Header Section -->
        <%- include('../partials/navbar') %>
        <!-- End: Header Section -->
        
        <!-- Start: Page Banner -->
        <section class="page-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>Profil</h2>
                    <span class="underline center"></span>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/user/dashboard">Dashboard</a></li>
                        <li>Request Card List</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->

        <!-- Start: Products Section -->
        <section class="category-filter section-padding">
            <div class="container">
                <div class="center-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h2 class="section-title">Request Card List</h2>
                            <span class="underline center"></span>
                            <p class="lead">You can approved request detail</p>
                        </div>
                    </div>
                </div>
                <div class="filter-buttons">
                    <div class="filter btn" data-filter="all">All Request</div>
                    <div class="filter btn" data-filter=".waiting">Waiting</div>
                    <div class="filter btn" data-filter=".approved">Approved</div>
                </div>
            </div>
            <div id="category-filter">
                <ul class="category-list">
                    <% request.forEach((req) => { %>
                        <% if(req.isApproved === false) { %>
                        <li class="category-item waiting">
                            <div class="info-bar" style="margin:30px;">
                                <h4>Request Detail</h4><span style="color: #576478;"><%= req.created %></span>
                                <span class="underline left"></span>
                                <span class="infoRequest"><strong>Name:</strong> <%= req.fullname %></span>
                                <span class="infoRequest"><strong>Email:</strong> <%= req.email %></span>
                                <span class="infoRequest"><strong>Nomor Induk:</strong> <%= req.nomorinduk %> </span>
                                <span class="infoRequest"><strong>Prodi:</strong> <%= req.prodi %></span>
                                <span class="infoRequest"><strong>Fakultas:</strong> <%= req.fakultas %></span>
                                <span class="infoRequest"><strong>Phone:</strong> 62<%= req.phoneNumber %></span>
                                <p><%= req.message %></p>
                                <form action="/user/request-card-list/approved-process/<%= req._id %>?_method=PATCH" method="POST">
                                    <button type="submit">Approve <i class="fa fa-long-arrow-right"></i></button>
                                </form>
                            </div>
                        </li>
                        <% } else {%>
                            <li class="category-item approved">
                                <div class="info-bar" style="margin:30px;">
                                    <h4>Request Detail</h4> <span><%= req.created %></span>
                                    <span class="underline left"></span>
                                    <span class="infoRequest"><strong>Name:</strong> <%= req.fullname %></span>
                                    <span class="infoRequest"><strong>Email:</strong> <%= req.email %></span>
                                    <span class="infoRequest"><strong>Nomor Induk:</strong> <%= req.nomorinduk %> </span>
                                    <span class="infoRequest"><strong>Prodi:</strong> <%= req.prodi %></span>
                                    <span class="infoRequest"><strong>Fakultas:</strong> <%= req.fakultas %></span>
                                    <span class="infoRequest"><strong>Phone:</strong> 62<%= req.phoneNumber %></span>
                                    <p><%= req.message %></p>
                                    <button style="background-color: limegreen; cursor: context-menu;" href="#">Request Already Approved <i class="fa fa-long-arrow-right"></i></button>
                                </div>
                            </li>
                        <% }%>
                    <% }) %>
                
                </ul>
                <div class="clearfix"></div>
            </div>
        </section>
        <!-- End: Products Section -->
       
        
        <!-- Start: Footer -->
        <%- include('../partials/footer') %>

        <!-- End: Footer -->
        
        <%- include('../partials/footscript') %>

        <%if (successUpdate.length > 0) { %>
            <script>
                swal({
                    title : "<%= successUpdate %>",
                    icon: "success",
                    text : "Done",
                    button: "Okay",
                });
            </script>
        <% } %>
    </body>


</html>
